.profile-wrapper {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.profile-header {
    position: relative;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-right: 92px;
    max-width: 624px;
    padding-right: 92px;
}

.profile-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.avatar-container {
    height: 116px;
    width: 116px;
}

.user-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-tỉtle-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: pointer;
    overflow: visible;
    margin-left: 20px;
}

.user-profile-name {
    font-family: 'IBM Plex Sans', SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.user-profile-subtitle {
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.profile-follow-container {
    font-family: 'IBM Plex Sans', SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    width: 208px;
    height: 36px;
    padding: 0px;
    margin: 16px 0px 0px;
}

.button-wrapper {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
    z-index: unset;
}

.profile-info-count {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 22px;
    color: var(--tux-colorTextPrimary);
}

.profile-info-count-item {
    color: var(--tux-colorTextPrimary);
    font-family: 'IBM Plex Sans', SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    direction: ltr;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    span {
        color: var(--tux-colorTextSecondary);
        font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        display: inline-block;
        margin-left: 6px;
    }

    &:not(:last-child) {
        margin-right: 20px;
    }
}

.profile-description {
    text-align: left;
    color: var(--tux-colorTextPrimary);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    white-space: pre-line;
    margin-top: 10px;
}

.profile-links {
    color: var(--tux-colorTextPrimary);
    font-family: 'IBM Plex Sans', SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    font-style: normal;
    height: 22px;
    max-width: 256px;

    svg {
        flex-shrink: 0;
    }
}

.span-link {
    padding-left: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    min-height: 490px;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    min-width: 520px;
}

.video-feed-tab {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    width: 100%;
    height: 44px;
    margin-bottom: 2px;
    width: 460px;
    margin-bottom: 8px;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--tux-colorLineSecondary);
        -webkit-transform: scaleY(50%);
        -moz-transform: scaleY(50%);
        -ms-transform: scaleY(50%);
        transform: scaleY(50%);
    }
}

.video-feed-tab-item {
    font-family: 'IBM Plex Sans', SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    height: 44px;
    cursor: pointer;
    text-align: center;
    color: var(--tux-colorTextPrimary);
}

.bottom-line {
    position: absolute;
    width: 50%;
    height: 2px;
    background: var(--tux-colorTextPrimary);
    left: 0;
    bottom: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transform: translateX(0px);
    transition: transform 0.3s;
}

.video-list-container {
    width: 100%;
}

.video-list {
    display: grid;
    grid-gap: 24px 16px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
}

.modal-title {
    position: absolute;
    top: 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    left: 24px;
    color: var(--tux-colorTextPrimary);
    font-weight: 600;
    font-size: 24px;
}

.close-btn {
    position: absolute;
    top: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    right: 24px;
    width: 24px;
    height: 24px;
    background: var(--tux-colorBGView);
    transform: scale(1.5);
}

.close-svg {
    color: var(--tux-colorTextPrimary);
}

.modal-content {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content-container {
    flex: 1;
    padding: 8px 24px 0px;
}
.modal-content-item {
    padding: 16px 0px;
    display: flex;
}

.modal-content-item:not(:last-child) {
    border-bottom: 0.5px solid var(--tux-colorLineSecondary);
}

.div-label {
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    min-width: 120px;
    margin-right: 24px;
}

.div-avatar {
    position: relative;
    height: 96px;
}

.avatar-preview {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 128px;
    width: 96px;
    height: 96px;
}

.span-avatar-container {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-feature-settings: 'tnum';
    position: relative;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 50%;
    background-color: rgba(136, 136, 136, 0.5);
    border-color: rgba(22, 24, 35, 0.12);
    border-width: 0.5px;
    cursor: pointer;
    width: 96px;
    height: 96px;
}

.img-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-avatar-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: var(--tux-colorBGPrimary);
    border: 1px solid var(--tux-colorLineSecondary);
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    margin-left: 192px;
}

.file-input-label {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
}

.edit-avatar-input {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.w50 {
    width: 50%;
}
.w100 {
    width: 100%;
}

.w50:not(:last-child) {
    margin-right: 16px;
}

.form-control {
    height: 38px;
    border-radius: 4px;
    background: var(--tux-colorBGInput);
    caret-color: rgb(254, 44, 85);
    font-size: 16px;
    color: var(--tux-colorTextPrimary);
    line-height: 24px;
    outline: none;
    border: none;
    padding: 7px 12px;
    box-sizing: border-box;
}

.textarea {
    border-radius: 4px;
    background: var(--tux-colorBGInput);
    caret-color: rgb(254, 44, 85);
    font-size: 16px;
    color: var(--tux-colorTextPrimary);
    line-height: 24px;
    outline: none;
    border: none;
    box-sizing: border-box;
    height: 100px;
    padding: 12px;
    resize: none;
}

.footer-container {
    color: var(--tux-colorTextPrimary);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    height: 64px;
    border-top: 1px solid var(--tux-colorLineSecondary);
    display: flex;
    -webkit-box-pack: center;
    justify-content: right;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    padding: 0 24px;
}
