.discover-item {
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: 24px;
    margin-bottom: 12px;
    padding: 3px 10px;
    border: 1px solid var(--tux-colorLineSecondary2);
    border-radius: 12px;
    background: var(--tux-colorBGSecondary2);
    color: var(--tux-colorTextPrimary);
    transition: background 200ms ease-in-out 0s;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
        background: var(--tux-colorBGView);
    }

    svg {
        fill: var(--tux-colorTextPrimary);
    }
}

.p-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--tux-colorTextSecondary);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 6px;
}
