.loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    color: var(--tux-colorPrimary);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
