.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background: var(--tux-colorBGView);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 16px;
    line-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    white-space: nowrap;
    color: var(--tux-colorTextPrimary);
}

.check {
    font-size: 1.4rem;
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 14px;
    line-height: 10px;
    color: var(--tux-colorTextTertiary);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
