.search {
    position: relative;
    width: var(--search-width);
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: var(--tux-colorBGInput);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--tux-colorTextPrimary);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--tux-colorTextPrimary);
    }

    input:placeholder-shown ~ .search-action {
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--tux-colorLineSecondary);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search,
.search-results {
    width: var(--search-width);
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--tux-colorTextTertiary);
}

.last-item {
    padding: 15px 16px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.last-item .last-item-title {
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--tux-colorTextPrimary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.clear,
.loading {
    position: absolute;
    font-size: 1.8rem;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--tux-colorTextQuaternary);
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2.3rem;
    color: var(--tux-colorTextQuaternary);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: var(--tux-colorBGView);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-item {
    padding: 9px 16px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    &:hover {
        background: var(--tux-colorBGView);
    }
}

.search-item .search-item-icon {
    height: 15px;
    color: var(--tux-colorTextPrimary);
    flex: 0 0 20px;
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    margin-right: 7px;
}

.search-item .result {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .wrapper {
        display: none;
    }
}
