.wrapper {
    --search-border-radius: 92px;
    --search-width: 361px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0 1px 1px rgba(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    max-width: var(--default-layout-width);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search {
    position: relative;
    width: var(--search-width);
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    input:placeholder-shown ~ .search-action {
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search,
.search-results {
    width: var(--search-width);
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.last-item {
    padding: 15px 16px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.last-item .last-item-title {
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgb(22, 24, 35);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.clear,
.loading {
    position: absolute;
    font-size: 1.8rem;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2.3rem;
    color: rgba(22, 24, 35, 0.34);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
