.wrapper {
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0 1px 1px rgba(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    max-width: var(--default-layout-width);
    flex-direction: row;
    justify-content: space-between;
    background-color: #ccc;
}
