.wrapper {
    --search-border-radius: 92px;
    --search-width: 361px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height);
    background: var(--tux-colorBGPrimary);
    width: 100%;
    box-shadow: 0 1px 1px var(--tux-colorLineSecondary);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    max-width: var(--default-layout-width);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .logo-dark {
    display: none;
}

[data-theme='dark'] .logo .logo-dark {
    display: flex;
}
[data-theme='dark'] .logo .logo-light {
    display: none;
}

[data-theme='light'] .logo .logo-light {
    display: flex;
}

[data-theme='light'] .logo .logo-dark {
    display: none;
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    display: flex;
    font-size: 2.2rem;
    color: var(--tux-colorTextPrimary);
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.first-button {
    margin-left: 12px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.left-icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    fill: var(--tux-colorTextPrimary);
}

.more-btn {
    display: flex;
    font-size: 2rem;
    margin-left: 16px;
    background-color: transparent;
    color: var(--tux-colorTextPrimary);
}

// modal

.close-btn {
    position: absolute;
    top: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    right: 24px;
    width: 24px;
    height: 24px;
    background: var(--tux-colorBGView);
    transform: scale(1.5);
}

.close-svg {
    color: var(--tux-colorTextPrimary);
}

.modal-content {
    width: 483px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
