.close-btn {
    position: absolute;
    top: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    right: 24px;
    width: 24px;
    height: 24px;
    background: var(--tux-colorBGView);
    transform: scale(1.5);
}

.close-svg {
    color: var(--tux-colorTextPrimary);
}

.modal-content {
    width: 483px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
